.gallery-container {
  position: relative;
  padding: 0 40px;
}

.slidenav--prev {
  margin: 15px;
}

.slidenav--next {
  margin: 15px;
}

.slides-container {
  width: 100%;
}

.slider-item {
  margin: 0 20px;
}
